In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score,recall_score,ConfusionMatrixDisplay

In [2]:
data_df=pd.read_csv('C:\\Users\\USER\Desktop\\BAETMAN\\dataset.csv')
data_df.sample(10)

     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
126       1          2             3391                 1125
10        1          1             3443                 1340
140       2          1             3572                 1270
151       2          1             3323                 1249
135       2          1             3436                 1235
212       2          2             2939                 1060
165       2          1             3082                 1180
155       2          1             3156                 1170
161       2          1             3779                 1520
154       2          1             3853                 1373

In [3]:
data_df.isnull().sum()

Gender                 0
Age Range              0
Head Size(cm^3)        0
Brain Weight(grams)    0
dtype: int64

In [5]:
#preprocessing
data_df.columns
data_df.columns=data_df.columns.str.title()
data_df

     Gender  Age Range  Head Size(Cm^3)  Brain Weight(Grams)
0         1          1             4512                 1530
1         1          1             3738                 1297
2         1          1             4261                 1335
3         1          1             3777                 1282
4         1          1             4177                 1590
..      ...        ...              ...                  ...
232       2          2             3214                 1110
233       2          2             3394                 1215
234       2          2             3233                 1104
235       2          2             3352                 1170
236       2          2             3391                 1120

[237 rows x 4 columns]

In [8]:
x=data_df.drop(['Brain Weight(Grams)'],axis=1)
y=data_df['Brain Weight(Grams)']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [10]:
lr=LogisticRegression(C=1.0,solver='liblinear')
lr.fit(x_train,y_train)

LogisticRegression(solver='liblinear')

In [11]:
predicted_value=lr.predict(x_test)
predicted_value

array([1350, 1350, 1310, 1310, 1310, 1350, 1310, 1350, 1400, 1350, 1310,
       1350, 1350, 1310, 1350, 1350, 1350, 1310, 1350, 1400, 1350, 1310,
       1310, 1400, 1400, 1400, 1350, 1400, 1310, 1350, 1350, 1310, 1350,
       1350, 1400, 1350, 1350, 1350, 1310, 1310, 1310, 1350, 1350, 1400,
       1310, 1400, 1350, 1350, 1350, 1350, 1350, 1310, 1310, 1400, 1270,
       1350, 1350, 1350, 1310, 1180, 1350, 1270, 1350, 1270, 1400, 1350,
       1310, 1400, 1310, 1270, 1350, 1400], dtype=int64)

In [13]:
#comparing
comparation=pd.DataFrame({"Actual Value":y_test,"Predicted Value":predicted_value})
comparation.sample(10)

     Actual Value  Predicted Value
108          1360             1310
89           1440             1310
168          1374             1350
159          1241             1350
52           1335             1400
146          1140             1350
75           1195             1270
173          1280             1350
236          1120             1350
139          1127             1350

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predicted_value))

0.0